.Rproj.user
wordsegcomp/.Rhistory
wordsegcomp/Icon
wordsegcomp/.DS_Store
wordsegcomp/.ipynb_checkpoints


.Ruserdata

wordsegcomp/R_pipeline/website
wordsegcomp/pipeline/__pycache__/
*.ipynb
*.cpython-36.pyc
/Icon\r
*.DS_Store
*.Rhistory

__pycache__/
/wordsegcomp/R_pipeline/IDS_CDS_ADS_cache/
/wordsegcomp/R_pipeline/IDS_CDS_ADS_files/
