.Rproj.user
.Rhistory
.RData
.Ruserdata

WordSegComprehension/wordsegcomp/R_pipeline/website
WordSegComprehension/wordsegcomp/pipeline/__pycache__/
*.ipynb
*.cpython-36.pyc
/Icon\r
*.DS_Store
*.Rhistory

__pycache__/
WordSegComprehension/wordsegcomp/R_pipeline/IDS_CDS_ADS_cache/
WordSegComprehension/wordsegcomp/R_pipeline/IDS_CDS_ADS_files/
